.footer-information-wrapper {
  background-color: #233f67;
}

.phone-icon {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--bg-secondary);
}

.phone-number {
  color: var(--bg-secondary);
  font-weight: bold;
  font-size: 1.2rem;
}

.phone-number:hover {
  color: var(--bg-primary);
}
