#result-section {
  width: 100%;
  padding: 1rem;
}

.bmi-result-wrapper {
  border: 2px solid #dee2e6;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s ease;
}

#bmi-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  min-height: clamp(300px, 100vh, 600px);
}

.bmi-result-line {
  display: flex;
  flex-direction: column;
  width: 12.5%;
}

.bmi-result-line span {
  width: 100%;
  height: 8px;
  border-radius: 1rem;
}

#range-severe-thinness span{
  background-color: #fe0100;
}

#range-thinness span {
  background-color: #fe9900;
}

#range-underweight span {
  background-color: #ffbc7c;
}

#range-normal span {
  background-color: #01b203;
}

#range-pre-obesity span {
  background-color: #cc99fe;
}

#range-class-1-obesity span {
  background-color: #993365;
}

#range-class-2-obesity span {
  background-color: #81017f;
}

#range-class-3-obesity span {
  background-color: #343399;
}

#red-note {
    color: #fe0100;
    font-weight: bold;
}

.bmi-result-line .bmi-arrow {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.information-view p, i{
  width: 100%;
}

@media (min-width: 1080px) {

  #bmi-content {
    width: 55%;
  }

  .bmi-result-line {
    width: 12.5%;
  }
}